/* line 1, ../../sass/sass/index.scss */
#wrapper {
  width: 1230px;
  margin: 50px auto;
  border-color: #c6c6c6;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
}
/* line 9, ../../sass/sass/index.scss */
#wrapper .padding-block {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* line 13, ../../sass/sass/index.scss */
#wrapper .border-bottom {
  border-bottom: 1px solid #ededed;
}
/* line 17, ../../sass/sass/index.scss */
#wrapper .home .container {
  padding-right: 0px;
  padding-left: 0px;
}
/* line 21, ../../sass/sass/index.scss */
#wrapper .home .container h1 {
  font-size: 45px;
  line-height: 45px;
  margin-top: 48px;
  margin-bottom: 24px;
  font-weight: 600;
}
/* line 29, ../../sass/sass/index.scss */
#wrapper .home .container ul li {
  list-style: none;
}
/* line 33, ../../sass/sass/index.scss */
#wrapper .home .container img {
  vertical-align: middle;
}
/* line 36, ../../sass/sass/index.scss */
#wrapper .home .container .display-pic {
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 232px;
  height: 232px;
  overflow: hidden;
  display: inline-block;
}
/* line 45, ../../sass/sass/index.scss */
#wrapper .home .container .display-pic img {
  width: 232px;
  height: 232px;
}
/* line 50, ../../sass/sass/index.scss */
#wrapper .home .container .name {
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 54, ../../sass/sass/index.scss */
#wrapper .home .container .pos-title {
  font-weight: 300;
  margin: 0;
  line-height: 34px;
}
/* line 59, ../../sass/sass/index.scss */
#wrapper .home .container .socialM {
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
}
/* line 63, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a {
  color: inherit;
  text-decoration: none;
}
/* line 66, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i {
  position: relative;
  z-index: 1;
  margin: .1em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
/* line 73, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i:hover {
  margin-top: -1px;
}
/* line 77, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#twitter:hover {
  color: #77DDF6;
}
/* line 81, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#github:hover {
  color: black;
}
/* line 85, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#facebook:hover {
  color: #3b5998;
}
/* line 89, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#linkedin:hover {
  color: #0177B5;
}
/* line 93, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#code:hover {
  color: #29A329;
}
/* line 97, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#stack:hover {
  color: #ED780E;
}
/* line 101, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#plus:hover {
  color: #D43402;
}
/* line 105, ../../sass/sass/index.scss */
#wrapper .home .container .socialM a i#mail:hover {
  color: #F7B401;
}
/* line 115, ../../sass/sass/index.scss */
#wrapper .menu {
  padding: 48px 0;
  text-align: center;
}
/* line 118, ../../sass/sass/index.scss */
#wrapper .menu .menu-li {
  display: inline-block;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 124, ../../sass/sass/index.scss */
#wrapper .menu .foto {
  display: block;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 133, ../../sass/sass/index.scss */
#wrapper .menu .foto img {
  width: 170px;
  height: 170px;
}

/* line 141, ../../sass/sass/index.scss */
footer {
  line-height: 36px;
  padding: 17px 0;
  border-top: 1px solid #c6c6c6;
}
/* line 145, ../../sass/sass/index.scss */
footer .copyright {
  color: #c5c5c5;
}

@media (max-width: 767px) {
  /* line 150, ../../sass/sass/index.scss */
  #wrapper {
    width: 100%;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 156, ../../sass/sass/index.scss */
  #wrapper .home .container {
    text-align: center;
  }
  /* line 158, ../../sass/sass/index.scss */
  #wrapper .home .container h1 {
    font-size: 35px;
  }
  /* line 161, ../../sass/sass/index.scss */
  #wrapper .home .container .display-pic {
    display: block;
    margin: 0 auto;
  }
  /* line 165, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM {
    text-align: center;
  }
  /* line 167, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i {
    text-align: center;
  }
  /* line 169, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#twitter {
    color: #77DDF6;
  }
  /* line 172, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#github {
    color: black;
  }
  /* line 175, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#facebook {
    color: #3b5998;
  }
  /* line 178, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#linkedin {
    color: #0177B5;
  }
  /* line 181, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#code {
    color: #29A329;
  }
  /* line 184, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#stack {
    color: #ED780E;
  }
  /* line 187, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#plus {
    color: #D43402;
  }
  /* line 190, ../../sass/sass/index.scss */
  #wrapper .home .container .socialM i#mail {
    color: #F7B401;
  }
  /* line 198, ../../sass/sass/index.scss */
  #wrapper footer .col-xs-12 {
    text-align: center;
  }
}
@media (max-width: 1230px) {
  /* line 205, ../../sass/sass/index.scss */
  #wraper {
    width: 100%;
  }
}
