#{extends 'main.html' /}
#{set title:'Home' /}
<link rel="stylesheet" href="/public/stylesheets/sass/index.css">
<script src="/public/javascripts/home-js/home.js"></script>
<div id="wrapper">
    <div class="home padding-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <div class="display-pic">
                        <img src="/public/images/display-pic.JPG" alt="Profile picture"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <h1 class="name">Rafael C. Bautista Jr.</h1>
                    <h3 class="pos-title">Web Designer</h3>
                    <div class="socialM">
                        <a href="http://goo.gl/upzoGy"><i id="facebook" class="icon-facebook"></i></a>
                        <i id="linkedin" class="icon-linkedin-sign"></i>
                        <i id="plus" class="icon-google-plus-sign"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
